    <!-- ---------------------------------------Navbar ------------------------------------>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <nav id="navbar" class="">
      <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
          <!-- Logo Placeholder for Inlustration -->
          <a href=""> <img src="../data/logo.png" alt="" class="" ></a>
          <strong>BRM LAW</strong>
        </div>
        
        <!-- Navbar Links -->
        <ul id="menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="../team.html">Team</a></li>
          <li><a href="practices.html">Practices</a></li>
          <li><a href="../contact.html">Contact Us</a></li>
        </ul>
      </div>
    </nav>
    
    
    <!-- Menu Icon -->
    <div class="menuIcon">
      <span class="icon icon-bars"></span>
      <span class="icon icon-bars overlay"></span>
    </div>
    
    
    <div class="overlay-menu">
      <ul id="menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="practices.html"></a>Practices</li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>